@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

@media (max-width:375px) {
    body{
        background-color: hsl(216, 12%, 8%);
        font-family: 'Overpass', sans-serif;
    }

    #star{
        background-color: hsl(216, 14%, 21%);
        width: 38px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        padding-top: 10px;
    }
    #container{
        position: absolute;
        margin: 150px 0px 150px 15px;
        width: 75%;
        height: 350px;
        background-color: hsl(213, 19%, 18%);
        color:white;
        border-radius: 10px;
        padding: 15px 25px 15px 20px;
        /* text-align: justify; */
    }
    #lista-container{
        padding: 5px 0px 5px 0px;
 }

    #container p{
        color: hsl(217, 12%, 63%);
        font-size: 15px;
    }

    .option{
        display: inline-block;
        background-color: hsl(216, 14%, 21%);
        height: 30px;
        width: 38px;
        border-radius: 100%;
        text-align: center;
        padding-top: 10px;
        margin: 0px 5px 0px 10px;
        color: hsl(217, 12%, 63%)
    }
    button{
        width: 90%;
        height: 40px;
        border-radius: 20px;
        border-style:none;
        background-color: hsl(25, 97%, 53%);
        color: white;
        margin: 10px 15px 0px 15px;
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
    }
    button:hover{
        color: white;
        background-color: hsl(20, 100%, 50%);
    }
    button:active{
        background-color: white; 
        color: hsl(25, 97%, 53%);
    }
}

@media (min-width:376px) {
    body{
        background-color: hsl(216, 12%, 8%);
        font-family: 'Overpass', sans-serif;
    }

    #container{
        position: absolute;
        margin: 200px 100px 100px 400px;
        width: 25%;
        height: 350px;
        background-color: hsl(213, 19%, 18%);
        color:white;
        border-radius: 10px;
        padding: 15px 25px 15px 20px;
    }

    #star{
        background-color: hsl(216, 14%, 21%);
        width: 38px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        padding-top: 10px;
    }
    
    #lista-container{
        padding: 5px 0px 5px 0px;
    }

    #container p{
        color: hsl(217, 12%, 63%);
        font-size: 15px;
    }

    .option{
        display: inline-block;
        background-color: hsl(216, 14%, 21%);
        height: 30px;
        width: 38px;
        border-radius: 100%;
        text-align: center;
        padding-top: 10px;
        margin: 0px 5px 0px 10px;
        color: hsl(217, 12%, 63%)
    }

    button{
        width: 90%;
        height: 40px;
        border-radius: 20px;
        border-style:none;
        background-color: hsl(25, 97%, 53%);
        color: white;
        margin: 10px 15px 0px 15px;
        font-family: 'Overpass', sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
    }
    button:hover{
        color: white;
        background-color: hsl(20, 100%, 50%);
    }
    button:active{
        background-color: white; 
        color: hsl(25, 97%, 53%);
    }
}